// Mixins in here
.btnDesign (@width, @height, @radius){
    width: @width;
    height: @height;
    border-radius: @radius;
    background-color: @button-bg;
    color: #fff;
    font-size: 1.8rem;

    &:hover {
        background-color: lighten(@button-bg, 10%);
        cursor: pointer;
    }
}

.anchor {
    text-decoration: none;
    font-size: 1.6rem;
    color: @font-color;

    &:hover {
        color: lighten(@font-color, 50%);
    }

}